My Workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "my-first-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "bc74ab1e-244c-42a1-afa5-0e9a70dd149f",
      "name": "Webhook",
      "webhookId": "04cd152d-5904-46d7-a90f-195e9c878657"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst item = items[0].json;\n\nconst name = item.body.name;\nconst email = item.body.email;\nconst plan = item.body.plan;\n\nlet message = \"\";\n\nif (plan === \"premium\") {\n    message = \"Welcome VIP \" + name + \"! Your premium account is ready.\";\n} else {\n    message = \"Welcome \" + name + \"! Consider upgrading to premium.\";\n}\n\nreturn [{\n    json: {\n        name: name,\n        email: email,\n        plan: plan,\n        message: message\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "64933f04-7c7a-4ec0-a788-dab5bd022804",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/users/{{$json.name}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "41c45eae-565e-464f-a9c8-1037e39a2989",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ddff4c24-a87f-4839-abaf-287d37cf4420",
              "leftValue": "={{$json.public_repos}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "f55f4cb4-a8a4-45f0-ba56-40b7a01f54f7",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5641fa9f-84c0-4116-a6a9-21e5da16bfc5",
              "name": "github_username",
              "value": "={{$json.login}}",
              "type": "string"
            },
            {
              "id": "bde7d2a8-b069-4e0c-9fcd-db3403d63c1c",
              "name": "full_name",
              "value": "={{$json.name}}",
              "type": "string"
            },
            {
              "id": "f772956e-3d24-4383-805f-31831eb75ea3",
              "name": "public_repos",
              "value": "={{ $json.public_repos}}",
              "type": "string"
            },
            {
              "id": "867169a0-b8e3-4ceb-897d-159c89b28473",
              "name": "profile_url",
              "value": "={{$json.html_url}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -96
      ],
      "id": "db1fa3a7-b435-4b2b-ad7e-ab9f265d60d2",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9b34c930-c220-4e38-bcc2-f94a4a7c0a92",
  "meta": {
    "instanceId": "3d4206d0620ffafecdf68307d820eff51d1f9586527f792838afa2b6145b4cf8"
  },
  "id": "8sv4qbpN2rt47pKi",
  "tags": []
}