My Workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "my-first-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "bc74ab1e-244c-42a1-afa5-0e9a70dd149f",
      "name": "Webhook",
      "webhookId": "04cd152d-5904-46d7-a90f-195e9c878657"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst item = items[0].json;\n\nconst name = item.body.name;\nconst email = item.body.email;\nconst plan = item.body.plan;\n\nlet message = \"\";\n\nif (plan === \"premium\") {\n    message = \"Welcome VIP \" + name + \"! Your premium account is ready.\";\n} else {\n    message = \"Welcome \" + name + \"! Consider upgrading to premium.\";\n}\n\nreturn [{\n    json: {\n        name: name,\n        email: email,\n        plan: plan,\n        message: message\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -208
      ],
      "id": "64933f04-7c7a-4ec0-a788-dab5bd022804",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/users/{{$json.name}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        80
      ],
      "id": "41c45eae-565e-464f-a9c8-1037e39a2989",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ddff4c24-a87f-4839-abaf-287d37cf4420",
              "leftValue": "={{$json.public_repos}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        -208
      ],
      "id": "f55f4cb4-a8a4-45f0-ba56-40b7a01f54f7",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5641fa9f-84c0-4116-a6a9-21e5da16bfc5",
              "name": "github_username",
              "value": "={{$json.login}}",
              "type": "string"
            },
            {
              "id": "bde7d2a8-b069-4e0c-9fcd-db3403d63c1c",
              "name": "full_name",
              "value": "={{$json.name}}",
              "type": "string"
            },
            {
              "id": "f772956e-3d24-4383-805f-31831eb75ea3",
              "name": "public_repos",
              "value": "={{ $json.public_repos}}",
              "type": "string"
            },
            {
              "id": "867169a0-b8e3-4ceb-897d-159c89b28473",
              "name": "profile_url",
              "value": "={{$json.html_url}}",
              "type": "string"
            },
            {
              "id": "8474a37b-a344-4e0c-a733-d7bae6d40d7b",
              "name": "email",
              "value": "={{$node[\"Code in JavaScript\"].json[\"email\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        48
      ],
      "id": "db1fa3a7-b435-4b2b-ad7e-ab9f265d60d2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pmxJikpoMAMht6xRKtMOuzJR5VvP8y_8BY0L1HuqK8M",
          "mode": "list",
          "cachedResultName": "n8n Automation data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmxJikpoMAMht6xRKtMOuzJR5VvP8y_8BY0L1HuqK8M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmxJikpoMAMht6xRKtMOuzJR5VvP8y_8BY0L1HuqK8M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "github_username": "={{$json.github_username}}",
            "full_name": "={{$json.full_name}}",
            "public_repos": "={{$json.public_repos}}",
            "profile_url": "={{$json.profile_url}}",
            "email": "={{$node[\"Code in JavaScript\"].json[\"email\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "github_username",
              "displayName": "github_username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "public_repos",
              "displayName": "public_repos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        -208
      ],
      "id": "d46a69a3-589a-474b-adaf-ddc45d3d27bd",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IVgJoqN7lYsNrXx3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$json.email}}",
        "subject": "=Welcome {{$json.full_name}}!",
        "message": "=Hi {{$json.full_name}},  Welcome! Your GitHub profile has been verified.  Username: {{$json.github_username}} Public Repos: {{$json.public_repos}} Profile: {{$json.profile_url}}  Best regards, Automation System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        640,
        80
      ],
      "id": "fa6157d5-22ec-4abb-812b-27905b0345ed",
      "name": "Send a message",
      "webhookId": "f97ee9bc-1c53-4ad1-a001-587876d01e98",
      "credentials": {
        "gmailOAuth2": {
          "id": "57cEUEMsoEMV4jEQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7661106210",
        "text": "=New registration!\nName: {{$node[\"Edit Fields\"].json[\"full_name\"]}}\nGitHub: {{$node[\"Edit Fields\"].json[\"github_username\"]}}\nRepos: {{$node[\"Edit Fields\"].json[\"public_repos\"]}}\nEmail: {{$node[\"Edit Fields\"].json[\"email\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        80
      ],
      "id": "95a16c9f-19de-4f3e-86dc-ae95a4ed5abd",
      "name": "Send a text message",
      "webhookId": "3c6d91df-0f42-4e34-8ce3-0a6e949eeecc",
      "credentials": {
        "telegramApi": {
          "id": "RVPXu8qELOIXha9X",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ef476a83-43ab-44fd-bbce-952bdfbc537e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d4206d0620ffafecdf68307d820eff51d1f9586527f792838afa2b6145b4cf8"
  },
  "id": "8sv4qbpN2rt47pKi",
  "tags": []
}