Workflow Automation Daily Test.json
{
  "name": "Daily test",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        -16
      ],
      "id": "a340ce2c-b9ce-4340-9a21-9c503fcc4764",
      "name": "When clicking ‘Execute workflow’",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "86YDDQBFDcbFhpEx",
          "mode": "list",
          "cachedResultUrl": "/workflow/86YDDQBFDcbFhpEx",
          "cachedResultName": "Send telegram message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": " Hello from the main workflow! Sub-workflows are working!  do you Radhika you are very special to me and i wanna tell you i really LOVE  YOU the most as no one can love my girl i wanna hug you so tight not even the air can cross through."
          },
          "matchingColumns": [
            "message"
          ],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -368,
        -16
      ],
      "id": "9bc4b1b9-0081-4bd6-9ae4-c7c475b3d761",
      "name": "Call 'Send telegram message'",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f55962e9-89d7-4625-a740-1f151e0674d3",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -192,
        -16
      ],
      "id": "eb4b82ed-4245-417d-80ff-6b1cef77c443",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "7661106210",
        "text": " Warning! Sub-workflow failed. Please check your workflows.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        -16
      ],
      "id": "2d501231-fe91-46c7-8f9c-5a5ca59f5559",
      "name": "Send a text message",
      "webhookId": "55280625-d5ca-4c37-be40-e2b2e6bda55c",
      "credentials": {
        "telegramApi": {
          "id": "RVPXu8qELOIXha9X",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Call 'Send telegram message'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Call 'Send telegram message'": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "47d62782-86be-406b-8caf-8fc9693738b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d4206d0620ffafecdf68307d820eff51d1f9586527f792838afa2b6145b4cf8"
  },
  "id": "lG6LVFfAVJ4ZF2jG",
  "tags": []
}